<li>
	<%= check_box_tag "todos[]", @todo.id, @todo.done, {:id => "todo#%i" % @todo.id} %>
	<span class="input"><%= @todo.label %></span>
	<% if (@todo.due_at) -%>
	<span class="timestamp <%= "overdue" if @todo.is_due? %>"><%= time_ago_in_words(@todo.due_at) %></span>
	<% end -%>
	<% @todo.tags.each do |t| %>
	<span class="tag"><%= t.label %></span>
	<% end %>
	<%= link_to 'Edit', edit_todo_path(@todo), :class => "edit_link" %>
	<%= link_to "×", @todo, :method => :delete, :class => "delete_link" %>
</li>