
<% if params[:notice] then %>
    <p><%= params[:notice] %></p>
<% end %>

<% form_for Todo.new do |f| %>
    <%= f.label "New todo:" %>
    <%= f.text_field :label %>
    <%= f.submit "Add" %>
<% end %>

<% form_tag( {:action => :markdone}, :id => "todos" ) do %>
	<% @todos.each do |todo| %>
		<div>
		<%= check_box_tag "todos[]", todo.id, todo.done, {:id => "todo#%i" % todo.id} %>
		<%= todo.label %>
		<span class="timestamp <%= "overdue" if todo.is_due? %>"><%= time_ago_in_words(todo.due_at) if todo.due_at %></span>
		<span class="tags">
		<% todo.tags.each do |t| %>
			<span class="tag"><%= t.label %></span>
		<% end %>
		</span>
		<span class="actions">
			<%= link_to 'Edit', edit_todo_path(todo) %>
			<%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></span>
	  </div>
	<% end %>
	<%= submit_tag "Mark done" %>
<% end %>
