
<%= form_for Todo.new do |f| %>
    <%= f.text_field :label, :placeholder => (@header.nil?) ? "Enter new todo here" : @header %>
    <%= f.submit "Add" %>
<% end %>

<% if params[:notice] then %>
<p class="notice"><%= params[:notice] %></p>
<% end %>

<ul id="todos">
<%= form_tag( {:action => :markdone} ) do %>
	<% @todos.each do |@todo| %>
<%= render "line" %>
	<% end %>
	<%= submit_tag "Mark done" %>
<% end %>
</ul>