<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "todo_init" %>
  <script type="text/javascript" src="http://use.typekit.com/jyw0ozu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<%= yield %>
</div>

</body>
</html>
