<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <link rel="apple-touch-icon" href="/images/todo-icon-72.png"/>  
  <link rel="apple-touch-icon" sizes="72x72" href="/images/todo-icon-72.png" />  
  <link rel="apple-touch-icon" sizes="114x114" href="/images/todo-icon-114.png" />  
  <meta name="apple-mobile-web-app-capable" content="yes" />  
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  
  <meta name="description" content="A simplified todo list manager for knittingpixel." />
  
	<!--[if IE 8]><link rel="stylesheet" href="" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="" media="screen" /><![endif]-->
	<!--[if IE 6]><link rel="stylesheet" href="" media="screen" /><![endif]-->
  
  
  
  <%= stylesheet_link_tag "styles" %>
  <link rel="stylesheet" media="all and (max-width: 60em)" href="/stylesheets/mobile.css" />
  <style type="text/css" media="all and (max-width: 30em)">
    /* hide tags */
    ul.todos li span.tag {
      display: none;
    }
  </style>
  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "todo_init" %>
  <script type="text/javascript" src="http://use.typekit.com/jyw0ozu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<%= yield %>
</div>

</body>
</html>
